
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.navbar{
    position: fixed;
    background-color: rgba(67, 111, 88, 1);
    width: 100%;
    /*height: 75px;*/
    z-index: 5;
}

.nav-link{
    font-weight: bold;
    color: whitesmoke;
    font-size: small;
}

.navbar .nav-item:not(:last-child) {
    margin-right: 35px;
}

.dropdown-toggle::after {
    transition: transform 0.5s linear;
}

.show.dropdown .dropdown-toggle::after {
    transform: translateY(3px);
}

.dropdown-menu {
    float: right;
    width: 30%;
    margin-top: 0;
    background-color: rgb(88, 131, 111);

}

.navbar-toggler div{
    width: 25px;
    height: 2.5px;
    background-color: whitesmoke;
    margin: 5px;
    transition: all 0.3s ease;
}

.nav-item a{
    color: #88c540;
    font-weight: bold;
    font-family: Arial, sans-serif;
    font-size: 15px;
}

.nav-item {
    margin-left: 5px;
}
.nav-item:hover{
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 3px;
}

.logo {
    padding: -20px;
    margin: -10px;
}
@media screen and (max-width: 768px){
    .nav-item{
        width: 160px;
        height: 35px;
    }

    .nav-item a{
        font-size: 18px;
    }

    .nav-link {
        margin-left: 15px;
    }

    .logo {
        padding: 0px;
        margin-top: -10px;
        height: 70px;
    }
}

.nav-link:hover{
    color: black;
    text-decoration: underline;
    transition: all 0.3s ease-in;
}




.active-tab {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}

/*nav{*/
/*    display: flex;*/
/*    justify-content: space-around;*/
/*    align-items: center;*/
/*    min-height: 6vh;*/
/*    font-family: sans-serif, Arial;*/
/*    background-color: green;*/
/*}*/

/*.logo{*/
/*    color: #fdffe2;*/
/*    text-transform: uppercase;*/
/*    letter-spacing: 5px;*/
/*    font-size: 20px;*/
/*}*/

/*.nav-links{*/
/*    display: flex;*/
/*    width: 30%;*/
/*    justify-content: space-around;*/
/*}*/

/*.nav-links li{*/
/*    list-style: none;*/
/*    margin-top: 12px;*/
/*}*/

/*.nav-links a{*/
/*    color: #fdffe2;*/
/*    text-decoration: none;*/
/*    letter-spacing: 3px;*/
/*    font-weight: bold;*/
/*    font-size: 14px;*/
/*}*/

/*.burger{*/
/*    display: none;*/
/*    cursor: pointer;*/
/*}*/

/*.burger div{*/
/*    width: 25px;*/
/*    height: 2.5px;*/
/*    background-color: whitesmoke;*/
/*    margin: 5px;*/
/*    transition: all 0.3s ease;*/
/*}*/

/*@media screen and (max-width: 1024px) {*/
/*    .nav-links{*/
/*        width: 40%;*/
/*    }*/
/*}*/
/*@media screen and (max-width: 900px) {*/
/*    .nav-links{*/
/*        width: 50%;*/
/*    }*/
/*}*/

/*@media screen and (max-width: 768px) {*/
/*    body{*/
/*        overflow-x: hidden;*/
/*    }*/
/*    .nav-links{*/
/*        position: absolute;*/
/*        transform: translateX(100%);*/
/*        right: 0px;*/
/*        height: 92vh;*/
/*        top: 6vh;*/
/*        background-color: green;*/
/*        display: flex;*/
/*        flex-direction: column;*/
/*        align-items: center;*/
/*        width: 50%;*/
/*        transition: transform 0.5s ease-in;*/

/*    }*/

/*    .nav-links li{*/
/*        opacity: 0;*/
/*    }*/

/*    .burger{*/
/*        display: inline;*/
/*    }*/
/*}*/

/*.nav-active{*/
/*    transform: translateX(0%);*/
/*}*/

/*@keyframes navLinkFade {*/
/*    from{*/
/*        opacity: 0;*/
/*        transform: translateX(50px);*/
/*    }*/
/*    to{*/
/*        opacity: 1;*/
/*        transform: translateX(0px);*/
/*    }*/
/*}*/



