
.main-container{
    width: 100vw;
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(240px,auto));
    /*margin-top: 50px;*/

    /*justify-content: center;*/
    justify-items: center;
    align-items: center;
}
.section1{
    /*background-color: #88c540;*/
    text-align: center;
    position: relative;
}

.section1 .front-image{
    /*padding: 50% 50%;*/
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
}
.section1 .front-image img{
    height:inherit;
    min-width:100%;
    max-width:none;
    margin:0 -100%;
}
@media screen and (min-aspect-ratio: 8/5){

}
@media screen and (max-aspect-ratio: 3/2){

}

.front-image-name{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border: 10px double #ffffff;
    border-radius: 20px;
    box-shadow: 0px 0px 30px 2px #282828;
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
    padding: 6vw 11vw;


}

.front-image-name span{
    color: #ffffff;
    font-size: 6vw;
    text-shadow: 0px 1px 20px #2b2b2b;
    white-space: nowrap;
}
.front-image-name span:hover{
    color: #626262;
    text-shadow: 0px 1px 10px #b0b0b0;
    transition: all 1s ease-in!important;

}

.front-image-name a{
    font-family: Georgia;
    color: #a27a44;
    font-size: 4vw;
    text-shadow: 0px 1px 2px rgb(0, 0, 0);
    border: 3px solid #cdcccc;
    border-radius: 10px;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    white-space: nowrap;

}
.front-image-name a:hover{
    color: #1f1f1f;
    text-shadow: 0px 1px 20px #a27a44;
    transition: all 1s ease-in!important;
}


.content-section{
    width: 100%;
    height: auto;
    align-items: center;
    /*background-color: #436f59;*/
}

@media screen and (min-width: 1100px){
    .content-section{
        width: 1100px;
    }
}


@media screen and (max-width: 768px) {
    .content-section{
        width: 100%;
        padding-top: 3em;
        align-items: center;

    }

    .subsection .first-text{
        padding-top: -5em;
        /*margin-top: 5em;*/
    }

    .subsection-flex{
        align-items: center;
        text-align: center;

    }
    .subsection-text{
        padding-top: 1rem;
    }
}



/*.text-liner{*/
/*    height: 1.5em;*/
/*}*/


.content-section .subsection {
    text-align: center;
}
.content-section .subsection h2{
    padding-top: 3vw;
}

.subsection-text img{
    width: auto;
    max-width: 95vw;
    background-color: rgba(255,255,255,0.7);
    border-radius: 20px;
}

.famous-quote{
    font-weight: bold;
}
.famous-quote .quote{
    font-style: italic;
    color: grey;
}
.famous-quote .quote-by{
    color: #a27a44;
}

.row-column{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px,auto));
}

@media screen and (min-width: 900px)  {
    .row-column .subsection-text p{
        padding: 0 20%;
    }
}

.subsection-flex{
    align-items: center;
    /*background-color: #c4c4c4;*/
}

.content-section-flex .subsection-body img{
    border-radius: 10px;
    box-shadow: 0px 0px 30px 2px #cecece;
    margin-bottom: 2rem;
}
.content-section-flex{
    max-width: 1100px;
}
.text-bg{
    padding-top: 1rem;
    margin: 2rem 1rem 1rem 1rem;
    background-color: rgba(167, 167, 167, 0.1);
    border-radius: 20px;
}
.subsection-tail .text-bg p{
    /*color: #828282;*/
    /*text-shadow: 2px 2px 5px #83b841;*/
}

@media screen and (min-width: 769px){
    .subsection-flex .subsection-body{
        display: flex;
        align-items: center;
    }
    .subsection-flex{
        /*align-items: center;*/
        padding: 2rem 2rem 2rem 2rem;
        /*background-color: #c4c4c4;*/
    }
    .subsection-tail{
        display: flex;
        padding-top: 2rem;
        align-items: center;
    }
    .subsection-end{
        text-align: right;
    }
    .subsection-body2{
        padding-top: 2rem;
    }
    .subsection-body{
        padding-top: 2rem;
    }
    blockquote:before {
        padding-left: -5rem;
    }
}

blockquote {
    font-family: Georgia, serif;
    position: relative;
    margin: 0;
    padding: 0.5em 2em 0.5em 3em;
}

/* Thanks: http://callmenick.com/post/styling-blockquotes-with-css-pseudo-classes */
blockquote:before {
    font-family: Georgia, serif;
    position: absolute;
    font-size: 6em;
    line-height: 1;
    top: 0;
    left: 0;
    content: "\201C";
    text-align: center;
    color: #a27a44;
}
blockquote:after {
    font-family: Georgia, serif;
    position: absolute;
    /* display: block; don't use this, it raised the quote too high from the bottom - defeated line-height? */
    float:right;
    font-size:6em;
    line-height: 1;
    right:0;
    bottom:-0.5em;
    content: "\201D";
    color: #a27a44;
}
blockquote footer {
    padding: 0 2em 0 0;
    text-align:right;
}
blockquote cite:before {
    content: "\2013";
}

