
.main-container{
    width: 100vw;
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(240px,auto));
    margin-top: 50px;

    /*justify-content: center;*/
    justify-items: center;
}
.section1{
    /*background-color: #88c540;*/
    width: 100%;
}

.subsection .first-text{
    padding-top: 15em;
    /*margin-top: 5em;*/
}

.section1 .front-image{
    /*padding: 50% 50%;*/
}

.content-section{
    width: 90%;
    height: auto;
    align-items: center;
    background-color: #436f59;
}

@media screen and (min-width: 1100px){
    .content-section{
        width: 1100px;
    }
}


@media screen and (max-width: 768px) {
    .content-section{
        width: 100%;
        padding-top: 3em;
        align-items: center;

    }
    .section1 .front-image .front-image-name{
        width: 35vw;
        height: 22vw;
    }
    .main-container .text-liner{
        height: 1vw;
    }

    .subsection .first-text{
        padding-top: -5em;
        /*margin-top: 5em;*/
    }
}

.front-image-name{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);

    border: 10px double #cdcccc;
    border-radius: 20px;
    width: 35vw;
    height: 17vw;
    box-shadow: 0px 0px 30px 2px #ffffff;
}



.section1{
    width: 100%;
    position: relative;
    text-align: center;
    /*color: white;*/
}
.section1 img{
    max-width: 100%;
}
.front-image-name span{
    color: #e3e3e3;
    /*font-weight: bold;*/
    font-size: 5vw;
    text-shadow: 0px 1px 0.7vw #2b2b2b;

}

.front-image-name a{
    color: #e3e3e3;
    font-size: 3vw;
    text-shadow: 0px -1px 2px rgba(0, 0, 0, 0.99);
    border: 3px solid #cdcccc;
    border-radius: 10px;
    padding: 3px 10px;
    background-color: rgba(255, 255, 255,0.5);
}

.text-liner{
    height: 3vw;
}

.content-section .subsection {
    text-align: center;
}
.content-section .subsection h2{
    padding-top: 3vw;
}

.subsection-text img{
    width: auto;
    max-width: 95vw;
    background-color: rgba(255,255,255,0.7);
    border-radius: 20px;
}

.famous-quote{
    font-weight: bold;
}
.famous-quote .quote{
    font-style: italic;
    color: grey;
}
.famous-quote .quote-by{
    color: darkgray;
}

.row-column{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px,auto));
}

@media screen and (min-width: 900px)  {
    .row-column .subsection-text p{
        padding: 0 20%;
    }
}