.content-section{
    width: 100vw;
    max-width: 1100px;
    /*background-color: #1e347b;*/
    /*border: 1px solid black;*/
    margin: auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.content-section-row{
    padding: 0 5vw;
    position: relative;
    text-align: center;
    /*background-color: #2aabd2;*/
    align-content: center;
    /*margin-top: 3rem;*/
}
@media screen and (min-width:1100px ){
    .content-section-row{
        padding: 0 1rem;
    }
}
@media screen and (min-width:768px ){

    .subtext{
        text-align: justify!important;
        text-justify:inter-word!important;
    }
    .content-section-row .content-main-heading h2{
        font-size: 4rem;
        color: #000000;
        font-family: Georgia
    }
    .form-body  .half-form{
        width: 48%;
        margin: 1rem 0;
        /*background-color: black;*/
    }
}
@media screen and (max-width:980px ){
    .content-section-row .head-box-container .right-container {
        max-width: 95vw;
        border: unset;
        max-width:900px;
    }
    .content-section-row .head-box-container .left-container {
        max-width: 95vw;
        border: unset;
        max-width:900px;
    }
}
.head-box-container{
    width: 100vw;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*padding: 2rem ;*/
    /*background-color: #cdcdcd;*/
}
.section1-img{
    flex: fit-content;
}
.box-container{
    margin: auto;
    display: flex;
}

.head-box-container .right-container {
    max-width: 550px;
    /*margin: 0 1rem;*/
    text-align: left;
}

.left-container {
    max-width: 550px;
    /*margin: 0 1rem;*/
}

.focused-text{
    font-family: "Poppins", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    color: #626262;
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
}
.descrition-text{
    font-family: "Poppins", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    white-space: pre-wrap;
    color: #626262;
    letter-spacing: 1px;
}

.content-main-heading{
    text-align: center;
    justify-content: center;
}

.content-main-heading h2{
    font-size: 10vw;
    color: #000000;
    font-family: Georgia
}

.content-main-subtext{
    font-size: 0.8rem;
    max-width: 50ch;
}

.form-row{
    display: flex;
    justify-content: center;
}


.half-form{
    width: 100%;
    margin: 1rem 0;
    /*background-color: black;*/
}
.full-form{
    width: 100%;
    margin: 1rem 0;
}
.form-control{
   height: 4rem;
}
.row-max{
    /*background-color: #2aabd2;*/
}
.form-body{
    /*background-color: #8bc540;*/
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.full-form textarea{
    height: 8rem;
}
.submit-button{
    text-align: right;
}
