.main-containers{
    width: 100vw;
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(240px,auto));
    align-items: center;
    margin-top: 50px;
}
.section1{
    background-color: #88c540;
    width: 90%;
}

.section2{
    width: 90%;
    height: auto;
    padding-top: 5em;
    padding-bottom: 5em;
}

@media screen and (min-width: 1100px){
    .section2{
        width: 1100px;
    }
}


@media screen and (max-width: 768px) {
    .section2{
        width: 100%;
        padding-top: 3em;
        align-items: center;
        /*padding-left: 5vw;*/
        /*padding-right: 5vw;*/

    }
    .section2 .subsection2{
        text-align: center;

    }

}

.test {
    margin-top: 200px;
}

.carousel{
    width: 100%;
    height: 100%;
    z-index: 3;
}

.subsection1{
    display: grid;
    grid-template-columns: 0.9fr 0.1fr;
    align-items: center;
    padding-bottom: 3em;
}

@media screen and (max-width: 668px){
    .subsection1{
        display: grid;
        grid-template-columns: none;
        grid-template-areas:
                "subsection-text"
                "subsection-img";
        text-align: center;
        align-items: center;
    }
    .subsection1 .subsection-text{
        grid-area: subsection-text;
        width: 100%;
    }
    .subsection1 .subsection-text h2{
        padding-bottom: 1em;
    }
    .subsection-img{
        width: 100vw;
        height: auto;
        grid-area: subsection-img;
    }
    .subsection1 .subsection-img img{
        max-width: 80%;
    }
}

.inspire-photo{
    max-width: 200px;
    width: auto;
}
.subsection-text{
    width: 100%;
}
.subsection-text h2{
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 1em;
    font-weight: unset;
    font-size: 1.9em;
    color: #8bc53f;
    text-shadow: 2px 2px 5px lightgrey;

}
.subsection-text p{
    font-family: "Poppins", Helvetica, Arial, sans-serif;
    font-size: 1em;
    white-space: pre-wrap;
    padding-left: 50px;
    padding-right: 50px;
    text-shadow: 2px 2px 5px lightgrey;
    color: #626262;
    letter-spacing: 1px;
    padding-bottom: 2em;

}

.subsection-img{
    width: 100%;
    /*background-color: #8bc540;*/
}

.subsection1 .inspire-photo{
    border-bottom-color: #cdcdcd;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 2px #87be40;
}

.subsection2{
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(240px,auto));
    align-items: center;
}

.subsection2 .subsection-row{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px,auto));

}
.subsection2 .subsection-last_row{
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(240px,auto));

}
.subsection2 img{
    width: auto;
    max-width: 80%;
    border-bottom-color: #cdcdcd;
    border-radius: 10px;
    /*box-shadow: 0px 0px 100px 2px #87be40;*/

}
.subsection2 .subsection-text{
    /*max-width: 100%;*/
    /*border-bottom-color: #cdcdcd;*/
    border-radius: 10px;
    /*box-shadow: 0px 0px 30px 2px #87be40;*/

}

@media screen and (max-width: 900px){
    .subsection-row .subsection-img {
        visibility: hidden;
        height: 0px;
    }
}

.subsection-divider{
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
    padding-left: 50px;
    padding-right: 50px;
    text-shadow: 2px 2px 5px lightgrey;
}

.subsection-divider-line{
    background-color: #2c4d3c;
    border-radius: 5px;
    width: 60%;
    height: 2px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
}