.main-section2{
    width: 100vw;
    height: auto;
    padding: 5em 0;
    /*background-color: #436f59;*/
    border: 1px dotted black;
}

.main-subsection1{

    /*height: 10vw;*/
    background-color: rgba(0,0,0,0.1);
}
.subsection-inner1{
    /*height: 10vw;*/
    margin: auto;
    padding: 0 2rem;
    max-width: 1100px;
    background-color: rgba(0,0,0,0.2);

    justify-content: center;
    display: flex;
    flex-wrap: wrap;

}

.subsection-content{
    margin: 0 5px ;
    position: relative;
    width: 25vw;
    min-width: 300px;
    height: auto;
    background-color: #d6d6d6;
    text-align: center;

}
.main-subsection1 .subsection-content img{
    width: inherit;
    min-width: 300px;
    height: auto;
}
@media screen and (min-width: 1100px){
    .main-subsection1 .subsection-content img{
        width: inherit;
        height: auto;
    }
}