.main-section2{
    width: 100vw;
    height: auto;
    padding: 0 0;
    /*background-color: #436f59;*/
    /*border: 1px dotted black;*/
}

.main-subsection1{

    /*height: 10vw;*/
    /*background-color: rgba(0,0,0,0.1);*/
}

.main-subsection-with-bg{

    /*height: 10vw;*/
    background-color: rgba(172, 172, 172, 0.1);
    padding: 4rem 0;
}
.subsection-inner1{
    /*height: 10vw;*/
    margin: auto;
    padding: 0 2rem;
    max-width: 1100px;
    /*background-color: rgba(0,0,0,0.2);*/

    justify-content: center;
    display: flex;
    flex-wrap: nowrap;

}

.main-subsection1 .subsection-content{
    padding: 10vw 0;
}
.subsection-content{
    margin: auto 0px ;
    position: relative;
    width: 32.5%;
    min-width: 300px;
    height: auto;
    /*background-color: #d6d6d6;*/
    text-align: center;
    display: block;
    text-align: left!important;
}
.subsection-inner1 .subsection-content img{
    width: inherit;
    min-width: 300px;
    height: auto;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
}


.subsection-inner1 .subsection-content img:hover{
    transform: scale(1.03);
    box-shadow: 0 0 20px #a27b43;
}
@media screen and (max-width: 768px) {
    .subsection-content{
        /*width: 10%;*/
    }
    .subsection-inner1 .subsection-content img{
        width: 100%;
    }
    .subsection-inner1{
        flex-wrap: wrap;
    }
}
@media screen and (min-width: 1100px){
    .subsection-inner1 .subsection-content img{
        width: inherit;
        height: auto;
    }
}

.title-num{
    /*background-color: #8bc53f;*/
    min-width: 100%;
    width: inherit;
    padding-left: 1rem;
    padding-right: 1rem;
}
.title-num span{
    /*float: left;*/
    font-size: 3em;
    color: #a27b43;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}

.line-through{
    position: relative;
    background-color: #a27b43;
    height: 1px;
    width: 40%;
    top: 2.7em
}
/*.subsection-content .between-title{*/
/*    padding-left: 2rem;*/
/*    padding-right: 1rem;*/
/*    !*padding-bottom: 1em;*!*/
/*    font-weight: normal;*/
/*    font-size: 2em;*/
/*    color: #000000;*/
/*    font-family: Georgia;*/
/*}*/
.subsection-content h2{
    padding-left: 6rem;
    padding-right: 1rem;
    /*padding-bottom: 1em;*/
    font-weight: normal;
    font-size: 3em;
    color: #000000;
    font-family: Georgia
    /*text-shadow: 2px 2px 5px lightgrey;*/

}
.subsection-content p{
    font-family: "Poppins", Helvetica, Arial, sans-serif;
    font-size: 1em;
    white-space: pre-wrap;
    padding-left: 1rem;
    padding-right: 1rem;
    text-shadow: 2px 2px 5px lightgrey;
    color: #000000;
    letter-spacing: 1px;
    padding-bottom: 2em;

}


.subsection-inner1 .right-content h2{
    padding-top: 3rem;
    white-space: pre-wrap;
}
.ReadMore{
    background-color: black;
    color: white !important;
    padding: 4px 12px;
    border: unset;
    text-decoration: unset;
}
.ReadMore:hover{
    color: white;
    padding: 5px 13px;
    background-color: #a27b43;
    transition: all 0.5s ease-in-out;
}

.arrow-down-centre{
    width: 5vw;
    position: absolute;
    transform: translate(-50%, -100%);
    transition: all 1s ease-in-out;
    animation: up-down 1s ease-in-out infinite alternate;
}
.arrow-down-centre:hover{
    transform: translate(-50%, -130%);
    background-color: #cdcdcd;
    border-radius: 10px;
    animation: unset;
}

@keyframes up-down {
    from {
        transform: translate(-50%, -100%);
    }
    to{
        transform: translate(-50%, -130%);
    }
}

/*section2 content css*/
.main-subsection-with-bg .subsection-content{
    padding: 3rem 0;
    margin: auto 0px ;
    position: relative;
    width: 50%;
    min-width: 300px;
    height: auto;
    /*background-color: #d6d6d6;*/
    display: block;
    text-align: left!important;
}

@media screen and (max-aspect-ratio: 17/15){
    .arrow-down-centre{
        opacity: 0;
    }
}

@media screen and (max-width: 768px) {
    .main-subsection-with-bg .subsection-content{
        width: 50%;
        min-width: 280px;
    }
    .main-subsection-with-bg .left-content p{
        font-size: 1.4rem;
        text-align: center;
        /*margin-left: 1rem;*/
    }
    .main-subsection-with-bg .left-content{
    }

}

.main-subsection-with-bg .subsection-inner1 .left-content{
    font-size: 1.5em;
}

.main-subsection-with-bg .subsection-inner1 .left-content p{
    padding: 3rem 0 0 0;
    color: #818181;
    font-family: Georgia;
}

.right-content span{
    font-family: "Poppins", Helvetica, Arial, sans-serif;
    font-size: 0.8em;
    color: #000000;

}
.right-content span{
    font-family: "Poppins", Helvetica, Arial, sans-serif;
    font-size: 0.8em;
    color: #000000;

}
.right-content .stat-bar{
    position: relative;
    background-color: #a27b43;
    height: 2px;
    margin-bottom: 1rem;
}
.stat-number{
    position: relative;
    /*top: -8px;*/

}
.lit-up:hover{
    color: #a27b43;
    transition: all 0.7s ease-in-out;
}

/*whole section fade in animation*/
.fade-in-allowed{
    opacity: 0;

}
.fade-in{
    opacity: 1;
    transition: all 1.5s ease-in-out;
}

/*section 2 grey bg content*/
.main-subsection-with-bg .subsection-inner1 .subsection-content-auto{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px, 1fr));
    grid-column-gap: 1rem;
    justify-content: center;
    width: 100%;
    padding: 4rem 2rem;
}

.content-columns{
    text-align: center;
    transition: all 1s ease-in-out;
    padding: 1rem 0;
}
.content-columns h2{
    font-family: Georgia;
    font-size: 3rem;
    /*font-weight: bold;*/
}
.content-columns span{
    white-space: nowrap;
    font-size: 0.9rem;
    color: #4a4a4a;
    font-family: Monospaced;
}
.underline-deco{
    position: relative;
    border-bottom: 2px solid #a27b43;
    height: 6%;
    left: 45%;
    width: 10%;
    padding-top: 2rem;
}

.drop-in-allowed{
    transform: translateY(-50px);

}
.drop-in{
    transform: translateY(0);
}

.subsection-inner-grid{
    display: grid;
    /*grid-template-columns: 1fr 3fr;*/
    margin: auto;
    padding: 10vw 2rem;
    max-width: 1100px;
    /*background-color: rgba(0,0,0,0.2);*/
    justify-content: center;
    width: 100%;
}
@media screen and (min-width: 768px) {
    .subsection-inner-grid{
        grid-gap: 2rem;
        grid-template-columns: 1fr 3fr;
    }

}

@media screen and (max-width: 768px) {
    .subsection-inner-grid .subsection-content-two h2 {
        padding-left: 6rem;
    }
}
.subsection-content-two{
    margin: auto 0px ;
    position: relative;
    width: 100%;
    min-width: 300px;
    height: auto;
    /*background-color: #d6d6d6;*/
    text-align: center;
    display: block;
    text-align: left!important;
}

.subsection-content-two h2{
    padding-left: 4rem;
    padding-right: 1rem;
    padding-bottom: 3rem;
    /*padding-bottom: 1em;*/
    font-weight: normal;
    font-size: 3em;
    color: #000000;
    font-family: Georgia
    /*text-shadow: 2px 2px 5px lightgrey;*/

}
.subsection-content-two h3{
    padding: 0 2rem;
    /*padding-bottom: 1em;*/
    font-weight: normal;
    font-size: 1.6em;
    color: #000000;
    font-family: Georgia;
    /*text-shadow: 2px 2px 5px lightgrey;*/
    line-break: auto;
}
.subsection-content-two p{
    font-family: "Poppins", Helvetica, Arial, sans-serif;
    font-size: 1em;
    white-space: pre-wrap;
    padding: 0 2rem;
    text-shadow: 2px 2px 5px lightgrey;
    color: #000000;
    letter-spacing: 1px;
    padding-bottom: 2em;
}