
.main-container{
    width: 100vw;
}
.section1{
    text-align: center;
    position: relative;
}

.section1 .front-image{
    /*padding: 50% 50%;*/
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
}
.section1 .front-image img{
    height:inherit;
    min-width:100%;
    max-width:none;
    margin:0 -100%;
}
@media screen and (min-aspect-ratio: 17/8){
    .section1 .front-image img{
        width: auto;
        min-width: 0%;
    }
    .front-image-name {
        padding: 6vh 11vh;
    }
}
@media screen and (max-aspect-ratio: 17/15){
    .section1 .front-image img{
        width: 100vw;
        min-width: 0;
        height: auto;
        transform: scale(1.5);
    }
    .section1{
        padding-top: 50px;
    }
    .section1 .front-image{
        /*padding: 50% 50%;*/
        height: auto;
        overflow: hidden;
    }
}

@media screen and (min-width: 1300px){
    .front-image-name-no-frame .no-frame-title{
        font-size: 3rem;
    }
}

.front-image-name{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border: 10px double #ffffff;
    border-radius: 20px;
    box-shadow: 0px 0px 30px 2px #282828;
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
    padding: 6vw 11vw;
}

.front-image-name-no-frame{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    border-radius: 0;
    box-shadow: none;
    background-color: unset;
    text-align: center;
    /*padding: 6vw 11vw;*/
}

.front-image-name span{
    color: #ffffff;
    font-size: 6vw;
    text-shadow: 0px 1px 20px #2b2b2b;
    white-space: nowrap;
    cursor: pointer;
}
.front-image-name span:hover{
    /*color: #626262;*/
    text-shadow: 0px 1px 10px #a27b43;
    transition: all 1s ease-in-out!important;
}

.front-image-name a{
    font-family: Georgia;
    color: #a27a44;
    font-size: 4vw;
    text-shadow: 0px 1px 2px rgb(0, 0, 0);
    border: 3px solid #cdcccc;
    border-radius: 10px;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    white-space: nowrap;
    cursor: pointer;
}

.front-image-name a:hover{
    color: #1f1f1f;
    text-shadow: 0px 1px 20px #a27a44;
    transition: all 1s ease-in-out!important;
}

.no-frame-title{
    font-family: Georgia;
    color: #a27a44;
    font-size: 3.5vw;
    text-shadow: 0px 1px 2px rgb(0, 0, 0);
    border-radius: 10px;
    padding: 5px;
    white-space: nowrap;
    cursor: pointer;
}

.no-frame-title:hover{
    color: #1f1f1f;
    text-shadow: 0px 1px 10px #a27a44;
    transition: all 1s ease-in-out!important;
}


/*section 2 css start from here*/