*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-image: url("https://nuwallpaperhd.info/wp-content/uploads/2018/01/Green-Background-Wallpaper.-Solid-Green-Background.jpg");
}